extends layout

block content
  .container
    .row
      //-왼쪽여백 1칸
      .col-xs-1
      //-화면 중앙
      .col-xs-10.center-block.center
        include section1
        include section2
        include section34
        include section5
        include section6
        include section7
        include section8