.row.section8
  .col-xs-4.news1
    img.img-responsive(src='/Desktop/학회_웹사이트/COVID19/images/new1.png', alt='Responsive image', width='100%')
  .col-xs-4.news2
    img.img-responsive(src='images\new1.png', alt='Responsive image', width='100%')
  .col-xs-4.news3
    img.img-responsive(src='images\new1.png', alt='Responsive image', width='100%')
