.row.section34
    .col-xs-6
        h8 국내 현황 그래프
        .row.text-center.domestic
            h4 그래프 들어갈 자리
    .col-xs-6
        h8 해외 현황 그래프
        .row.text-center.foreign
            h4 그래프 들어갈 자리