.row.section7
    .col-xs-12
        table.table.table-striped.tesxt-center
            tr
                td 지역
                td 신규 확진
                td 누적 확진
                td 완치
                td 사망자
            tr
                td 서울특별시
                td 22
                td 600
                td 2
                td 3
            tr
                td 인천광역시
                td 5
                td 30
                td 0
                td 0
            tr
                td 대전광역시
                td 50
                td 300
                td 10
                td 9
            tr
                td 대구광역시
                td 500
                td 1000
                td 30
                td 7